*{
    padding : 0;
    margin : 0;
}
#barrageBox{
    width: 800px;
    height: 600px;
    margin: 50px auto;
    border: 1px solid;
}
#barrage{
    background-color: #EEE;
}
.input_box{
    width: 200px;
    margin: 0 auto;
    text-align: center;
}